%% Erlang compiler options
{erl_opts, [
  debug_info,
  warn_export_all,
  {parse_transform, lager_transform}
]}.

%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, [{d, 'EUNIT_TEST', true}]}.

%% What dependencies we have
{deps, [
  {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.8"}}},
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.6.1"}}},
  {basin, {git, "git@bitbros.com:/basin", {branch, "master"}}},
  {maxwell_protocol, {git, "git@bitbros.com:/maxwell-protocol-erlang", {branch, "master"}}}
]}.

{relx, [
  {release,
    {maxwell_server, "0.1.0"},
    [maxwell_server]
  },
  {dev_mode, true},
  {include_erts, true},
  {extended_start_script, true},
  {vm_args, "config/vm.args"},
  {sys_config, "config/sys.config"}
]}.